apikey: YOUR_MACKEREL_APIKEY
plugin:
  servicemetrics:
    twitter:
      rate_limits_checker:
        command: ./app/rate_limits_checker
        env:
          ACCESS_TOKEN: YOUR_TWITTER_ACCESS_TOKEN
          ACCESS_TOKEN_SECRET: YOUR_TWITTER_ACCESS_TOKEN_SECRET
          CONSUMER_KEY: YOUR_TWITTER_CONSUMER_KEY
          CONSUMER_SECRET: YOUR_TWITTER_CONSUMER_SECRET
          API_RESOURCES: /application/rate_limit_status,/statuses/home_timeline
